html {
  overflow: hidden;
}

.attachment-controls {
  width: 33%;
  height: 800px;
  float: left;
  padding: 10px;
}

.add-attachment-controls {
  position: relative;
  right: 0;
  left: 0;
  margin: auto;
  padding-bottom: 16px;
}

.attachment-providers {
  position: relative;
  right: 0;
  left: 0;
  margin: auto;
  padding-bottom: 16px;
}

.add-region-button-div {
  position: relative;
  right: 0;
  left: 0;
  margin: auto;
}

.module-controls {
  width: 33%;
  height: 800px;
  float: left;
  padding: 10px;
}

.context-component {
  width: 33%;
  float: left;
  padding: 10px;
}

.context-card {
  min-height: 15rem;
  // A drop target that covers the Region
  // body on dragover
  .region__drop-target {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    justify-content: center;
    align-items: center;
  }
}

.attachment-content {
  width: 33%;
  height: 755px;
  float: left;
  position: relative;
  padding: 10px;
}

.attachment-panel-controls {
  position: relative;
  right: 0;
  left: 0;
  margin: auto;
  padding-bottom: 16px;
}

.master-app {
  padding: 10px;
  width: 1200px;
}
